{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% include 'partials/langswitcher.hreflang.html.twig' %}

    <link rel="alternate" type="application/atom+xml" title="My Feed" href="{{ page.url(true, true) }}.atom" />
    <link rel="alternate" type="application/rss+xml" title="My Feed" href="{{ page.url(true, true) }}.rss" />
    <link rel="alternate" type="application/json" title="My Feed" href="{{ page.url(true, true) }}.json" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre.min.css', 100) %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre-exp.min.css', 99) %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre-icons.min.css', 98) %}
    {% do assets.addCss('theme://css/custom.css', 97) %}
{% endblock %}

{# {% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %} #}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<div class="page-wrapper">
{% block pre_header %}
    <div id="pre-header">
        <div class="container grid-xl">
            <nav class="navbar float-right">
                {% block pre_header_navigation %}
                    <section class="navbar-section">
                        {% include 'partials/langswitcher.html.twig' %}
                    </section>
                {% endblock %}
            </nav>
        </div>
    </div>
{% endblock %}
{% block header %}
    <header id="header">
        <div class="container grid-xl">
            <nav class="navbar">
                {% block header_brand %}
                    <section class="navbar-section">
                        <a href="{{ home_url }}" title="{{ config.site.title }}" class="navbar-brand mr-2">
                            <img src="{{ url("theme://images/logo.svg") }}" alt="" class="navbar-logo" />
                        </a>
                    </section>
                {% endblock %}
                {% block header_search %}
                    <section class="navbar-center">
                        {% include 'partials/search/simplesearch_searchbox.html.twig' %}
                    </section>
                {% endblock %}
                {% block header_navigation %}
                    <section class="navbar-section">
                        {% include 'partials/navigation.html.twig' %}
                    </section>
                {% endblock %}
            </nav>
        </div>
    </header>
{% endblock %}

{% block body %}
    <section id="content">
        <div class="container grid-xl">
            {% block breadcrumbs %}
            <div class="page-utils">
                {% include 'partials/breadcrumbs.html.twig' %}
            </div>
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer id="footer">
        {% block footer_top %}
            <section class="footer-top">
                <div class="container grid-xl">
                    {% include 'partials/footer-top.html.twig' %}
                </div>
            </section>
        {% endblock %}
        {% block footer_bottom %}
            <section class="footer-bottom">
                <div class="container grid-xl">
                    {% include 'partials/footer-bottom.html.twig' %}
                </div>
            </section>
        {% endblock %}
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}
</div>
</body>
</html>
