{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% include 'partials/langswitcher.hreflang.html.twig' %}

    <link rel="alternate" type="application/atom+xml" title="My Feed" href="{{ page.url(true, true) }}.atom" />
    <link rel="alternate" type="application/rss+xml" title="My Feed" href="{{ page.url(true, true) }}.rss" />
    <link rel="alternate" type="application/json" title="My Feed" href="{{ page.url(true, true) }}.json" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre.min.css', 100) %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre-exp.min.css', 99) %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre-icons.min.css', 98) %}
    {% do assets.addCss('theme://css/custom.css', 97) %}
{% endblock %}

{# {% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %} #}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<div id="page-wrapper" class="container">
    <div class="columns">

    {% block page_header %}
        <header id="page-header" class="column col-3">

            {% block header_navbar %}
            <nav class="header-navbar">

                {% block header_brand %}
                    <section class="header-brand">
                        <a href="{{ home_url }}" title="{{ config.site.title }}">
                            <img src="{{ url("theme://images/logo.svg") }}" alt="" class="img-responsive brand-logo" style="" />
                        </a>
                        <span class="brand-claim">&mdash; they ride then they talk</span>
                    </section>
                {% endblock %}

                {% block header_menu %}
                    <section class="header-menu">
                        {% include 'partials/navigation.html.twig' %}
                    </section>
                {% endblock %}

                {% block header_bottom %}
                    <section class="header-bottom">

                    </section>
                {% endblock %}

            </nav>
            {% endblock %}

        </header>
    {% endblock %}

    {% block page_content %}
        <div id="page-content" class="column col-6">

            {% block content_utils %}
                <div class="content-utils container">

                {% if page.home == false %}
                    {% block breadcrumbs %}
                        {% include 'partials/breadcrumbs.html.twig' %}
                    {% endblock %}
                {% endif %}

                </div>
            {% endblock %}

            {% block content %}{% endblock %}

            {% block footer %}
                <footer id="footer" class="container">

                    {% block footer_top %}
                        <section class="footer-top">
                            <div class="container">
                                {% include 'partials/footer-top.html.twig' %}
                            </div>
                        </section>
                    {% endblock %}

                    {% block footer_bottom %}
                        <section class="footer-bottom">
                            <div class="container">
                                {% include 'partials/footer-bottom.html.twig' %}
                            </div>
                        </section>
                    {% endblock %}

                </footer>
            {% endblock %}
        </div>
    {% endblock %}

    {% block page_sidebar %}
        <div id="page-sidebar" class="column col-3">

        {% block page_utils %}
            <div id="page-utils">
                <nav class="navbar">

                    {% block page_utils_navigation %}
                        <section class="navbar-section">

                            {# {% include 'partials/feeds.html.twig' %} #}

                            {% include 'partials/langswitcher.html.twig' %}

                        </section>
                    {% endblock %}

                </nav>
            </div>
        {% endblock %}

        {# {% block page_ads %}
            <div id="page-ads">

                {% block page_ads_placeholder %}
                    <section class="page-ads-skyscraper">

                        <img src="https://via.placeholder.com/300x600?text=300x600+Half+Page+Ad" class="img-responsive" />
                    </section>
                {% endblock %}

            </div>
        {% endblock %} #}

        </div>
    {% endblock %}

    </div>
</div>

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}
</body>
</html>
