{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.svg') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% include 'partials/langswitcher.hreflang.html.twig' %}

    <link rel="alternate" type="application/atom+xml" title="My Feed" href="{{ page.url(true, true) }}.atom" />
    <link rel="alternate" type="application/rss+xml" title="My Feed" href="{{ page.url(true, true) }}.rss" />
    <link rel="alternate" type="application/json" title="My Feed" href="{{ page.url(true, true) }}.json" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre.min.css', 100) %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre-exp.min.css', 99) %}
    {% do assets.addCss('https://unpkg.com/spectre.css/dist/spectre-icons.min.css', 98) %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=DM+Serif+Text&IBM+Plex+Mono:wght@400;500;600;700&display=swap', 97) %}
    {% do assets.addCss('theme://css/custom.css', 96) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<div class="page-wrapper">

{% block header %}
    <header class="header header-hero">
        <div class="container grid-xl">

            {% block header_navigation %}
            <nav class="navbar">

                {% block header_brand %}
                <section class="navbar-center">
                    <a class="navbar-brand" href="{{ home_url }}" title="{{ config.site.title }}">
                        <img src="{{ url("theme://images/logo.svg") }}" alt="theSQUOTEBOARDER" class="navbar-logo" />
                    </a>
                    <a class="off-canvas-toggle btn btn-primary btn-action show-md" href="#mobile-menu">
                        <i class="icon icon-menu"></i>
                    </a>
                </section>
                {% endblock %}

                {% block header_menu %}
                <section class="navbar-section hide-md">
                    <div class="site-menu">
                        {% include 'partials/navigation.html.twig' %}
                    </div>
                    <div class="site-search">
                        {% include 'partials/search/simplesearch_searchbox.html.twig' %}
                    </div>
                </section>
                {% endblock %}

            </nav>
            {% endblock %}

        </div>
    </header>
{% endblock %}

{% block body %}
    <main id="content">
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer id="footer">
        <div class="container grid-xl">

            {% block footer_top %}
            <section class="footer-top columns">
                {% include 'partials/footer-top.html.twig' %}
            </section>
            {% endblock %}

            {% block footer_bottom %}
            <section class="footer-bottom columns">
                {% include 'partials/footer-bottom.html.twig' %}
            </section>
            {% endblock %}

        </div>
    </footer>
{% endblock %}

{% block off_canvas %}
    <div class="off-canvas">

        <div id="mobile-menu" class="off-canvas-sidebar">
            <div class="container">

                <div class="mobile-menu-section site-search">
                    {% include 'partials/search/simplesearch_searchbox.html.twig' %}
                </div>

                <div class="mobile-menu-section site-menu">
                    {% include 'partials/navigation.html.twig' %}
                    {% include 'partials/navigation_secondary.html.twig' %}
                </div>

                <div class="mobile-menu-section utils-menu">
                    {% include 'partials/langswitcher.html.twig' %}
                </div>

                {# <div class="mobile-menu-section navbar-baseline">
                    <sup>The</sup> website<br />
                    that has<br />
                    skaters quoting &ldquo;&hellip;&rdquo;
                </div> #}
{#
                <div class="mobile-menu-section network-infos">
                    <span>Proud member of
                    <span class="text-light bg-dark p-1 rounded">DERUE</span>
                    #SkateCultureHub</span>
                </div> #}
            </div>
        </div>

        <a class="off-canvas-overlay" href="#close"></a>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}
</div>
</body>
</html>
