<div class="card">
    <div class="card-title">
        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
    </div>
    <div class="card-body">
        <div>
            {{ media_directory(site.images_dir)[page.header.featured.featured_image|first.name].cropResize(200,200).html('My title', 'Some ALT text', 'myclass') }}
       </div>
        {% if page.summary != page.content %}
            {{ page.summary|raw }}
        {% else %}
            {{ page.content|raw }}
        {% endif %}
        {% include 'partials/blog/taxonomy.html.twig' %}
    </div>
</div>
