{% if display_mode == 'select'  %}
<div class="dropdown dropdown-langswitcher">
  <div class="btn-group">
    <a href="#" class="btn">
      {{ html_lang }}
    </a>
    <a href="#" class="btn dropdown-toggle" tabindex="0">
      <i class="icon icon-caret"></i>
    </a>
    <ul class="menu">
{% endif %}

{% for language in langswitcher.languages %}

    {% set show_language = true %}
    {% if language == langswitcher.current %}
        {% set lang_url = page.url %}
        {% set active_class = ' active' %}
    {% else %}
        {% set base_lang_url = base_url_simple ~ grav.language.getLanguageURLPrefix(language) %}
        {# {% set lang_url = base_lang_url ~ langswitcher.page_route ~ page.urlExtension %} #}

        {% if langswitcher.page_route == '/' %}
            {% set lang_url = base_lang_url %}
        {% else %}
            {% set lang_url = base_lang_url ~ langswitcher.page_route ~ page.urlExtension %}
        {% endif %}

        {% set untranslated_pages_behavior = grav.config.plugins.langswitcher.untranslated_pages_behavior %}
        {% if untranslated_pages_behavior != 'none' %}
            {% set translated_page = langswitcher.translated_pages[language] %}
            {% if (not translated_page) or (not translated_page.published) %}
                {% if untranslated_pages_behavior == 'redirect' %}
                    {% set lang_url = base_lang_url ~ '/' %}
                {% elseif untranslated_pages_behavior == 'hide' %}
                    {% set show_language = false %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% set active_class = '' %}
    {% endif %}

    {% if show_language %}
        {% if display_mode == 'select'  %}
            <li class="menu-item"><a href="{{ lang_url ~ uri.params }}" class="lang {{ active_class }}">{{ language }}</a></li>
        {% else %}
            <a href="{{ lang_url ~ uri.params }}" class="btn btn-link lang {{ active_class }}">{{ language }}</a>
        {% endif %}
    {% endif %}

{% endfor %}

{% if display_mode == 'select'  %}
    </ul>
  </div>
</div>
{% endif %}
